.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

#trybewarts-header-title {
  color: white;
  margin-right: 300px;
}

.trybewarts-login {
  display: flex;
  justify-content: flex-end;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

main {
  display: flex;
}

main form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
  display: flex;
  flex-direction: row;
}

.full-name {
  display: inline;
  padding: 5px;
}

.email-house {
  display: inline-block;
  padding: 5px;
}

.secondForm {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
} 

.familyInputs {
  display: flex;
  flex-flow: column wrap;
}

.contentInputs {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

